In [9]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.DataFrame()

In [5]:
data = np.arange(20, 400, 20)
data

array([ 20,  40,  60,  80, 100, 120, 140, 160, 180, 200, 220, 240, 260,
       280, 300, 320, 340, 360, 380])

In [6]:
df['data'] = data

In [7]:
df

    data
0     20
1     40
2     60
3     80
4    100
5    120
6    140
7    160
8    180
9    200
10   220
11   240
12   260
13   280
14   300
15   320
16   340
17   360
18   380

In [8]:
df['data'].mad()

94.73684210526316

In [13]:
stats.median_abs_deviation(data)

100.0